html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td{margin:0;padding:0;font-size:14pt;font-family:"微软雅黑","宋体";}
img,html{border:0;background-color:#fff;}
body{background:#ebefef}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
.fieldShow{color:blue}

/*chrome 样式定义 */
input,button,select,textarea,div,span,td{outline:none}
textarea{resize:none}
input[size]{ border:1px solid blue;}

a {font-size:9pt;font-family:"微软雅黑","宋体";color: #00457D; text-decoration: none}
a:hover {color: #FF0000; text-decoration: none;font-family:"微软雅黑","宋体"}
textarea{overflow:auto;height:32px; padding-left:10px;padding-top:6px; margin:10px 0;border:1px solid blue; border-radius:3px; line-height:24px; color:#333; font-size:16px;font-family:"微软雅黑","宋体";}
select {border:1px solid #ebe6e5; border-radius:3px; line-height:32px; color:#333; font-size:16px;padding-left:10px; }
input{height:32px; padding-left:10px; border:1px solid #ebe6e5; border-radius:3px; line-height:32px; color:#333; font-size:16px;font-family:"微软雅黑","宋体";}
form{margin:0px}
input[type=radio],input[type=checkbox]{border:none;line-height:14px;height:14px;font-family:"微软雅黑","宋体";}

.combo{height:32px !important;padding-left:10px; border:1px solid blue; border-radius:3px; line-height:32px; color:#333; font-size:16px;}
.combo .combo-text{font-size:16px; color:#333;}
.toptoolbar{padding:2px;border:1px solid #ddd;background:#F8F8F8;}
.toptoolbarhr{height:2px;}
.lschk_ie6{border:0px;height:13px;width:13px}
.linkeytable{border-collapse:collapse;border: 1px solid #cccccc;width:100%;font-size:9pt;}
.linkeytable td{border-collapse:collapse;height:40px; border:1px solid black; padding:2px 10px; font-size:16px;font-family:"微软雅黑","宋体";color:#444;}
.linkeytable td.texttd{text-align:right;background:#f2f2f2;font-size:12px;font-weight:bold;font-family:"微软雅黑","宋体"; padding-right:10px;color:#333;width:15%;}

.CollapseSubForm{color:#0099FF;padding-left:20px;cursor:pointer;background:url(../images/icons/collapse.gif) no-repeat left top}
.ExpandSubForm{color:#0099FF;padding-left:20px;cursor:pointer;background:url(../images/icons/ns-expand.gif) no-repeat left top}
.ApprovalForm{padding-top:10px}

/*审批处理单样式定义*/
.ApprovalMsg{padding-left:15px;color:#0099FF;width:90%;font-size:9pt;cursor:pointer;font-family:"微软雅黑","宋体";background:url(../images/icons/ns-expand.gif) no-repeat left}
.ApprovalBottom{padding-top:10px;padding-right:5px;padding-bottom:10px;font-size:9pt;font-family:"微软雅黑","宋体";}
.ApprovalBottom a{text-decoration: underline;font-family:"Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;}
.ApprovalBottom a:hover{color: #FF0000;text-decoration: none;font-family:"Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;}
.Approvaltable{border-collapse:collapse;border: 1px solid #eee;width:100%;font-size:9pt;font-family:"微软雅黑","宋体"}
.Approvaltable td{border-collapse:collapse;border: 1px solid #eee;padding:4px;font-size:14px;font-family:"微软雅黑","宋体";color:#444;}
.Approvaltable td.texttd{text-align:right;background:#f9f9f9;font-family:"微软雅黑","宋体";min-width:120px;color:#000;}
.ApprovalToptable td{color:#999;font-size:9pt;font-family:"微软雅黑","宋体";}
.ApprovalToptable a{color: #cc3300; font-family:"微软雅黑","宋体"}
.ApprovalToptable a:hover{text-decoration: underline;}
.ApprovalCurNode{color:#0066cc;}
.ApprovalTopBtn td{color:#ffffff;font-size:12px;font-weight:bold; font-family:"微软雅黑","宋体";}
.ApprovalTopBtn a{color: #FFFFFF;font-size:12px; font-weight:bold; cursor:pointer; text-decoration:none;font-family:"微软雅黑","宋体"}

/*科研单样式定义*/
#linkeyform{width:960px; margin:0 auto; background:#fff url(../images/itil/bottom-bg.jpg) 0 bottom no-repeat; padding:0 20px 100px}
#bar_v4{background:#ebefef;position:fixed;left:0px; top:0px; display:block;z-index:10;width:100%;}
.topbar{background:#fff;width:960px; margin:0 auto;padding:0 20px;border-top:4px solid #2d90e5;padding-top:20px;overflow:hidden; }
#bar_v4 a{color:#2d90e5;margin-right:5px; font-size:14px;}
#bar_v4 a:hover{ text-decoration:underline;}
a.flowmap{background:url(../images/itil/lct-ico.jpg) no-repeat left center; padding-left:18px;padding-right:20px;}
#bar_v4 .leftbar{float:left;}
#bar_v4 .rightbar{float:right;}
#bar_v4 .submitbtn{background: #2d90e5;width: 90px;height: 32px;text-align: center;line-height: 32px;border-radius: 2px;color: #fff;
    font-size: 14px;display: inline-block;margin-left: 20px; cursor:pointer;}
#bar_v4 .submitbtn:hover{text-decoration:none;}
.window{padding:0;}
.window .window-header{background:#2d90e5;}
.panel-title{color:#fff;line-height:34px;height:30px;font-size:14px;padding-left:10px;}
.window .window-header .panel-tool{right:9px;}
.window .window-body{border-width:0;}